@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap');

body {
    text-align: center;
    font-family: 'Geom', sans-serif;
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    border-radius: 5vh;
    padding: 1vh;
    margin: 1vh;
    border: none;
    padding: 1vh;
    margin: 1vh;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.192);
    background: transparent;
    transition: all 0.3s ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: orange;
}

.btn_estado {
    width: 10vh;
    height: 10vh;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

@media screen and (max-width: 360px) {
    body {
        width: 10vh;
        height: 10vh;
    }
}