<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='engine_principal.css')}}">
</head>

<body>

    <h1>Admin</h1>
    <button>Vaciar</button>
    <button>Actualizar</button>
    <table border="1">
        <tr>
            <th>Fecha</th>
            <th>Nombre</th>
            <th>Café</th>
        </tr>

        {% for pedido in pedidos %}
        <tr class="list_fila">
            <td>{{ pedido.fecha }}</td>
            <td>{{ pedido.nombre }}</td>
            <td>{{ pedido.cafe }}</td>
        </tr>
        {% endfor %}
    </table>
    <script>
        const i = document.getElementsByTagName("button")[0];
        const j = document.getElementsByTagName("button")[1];

        i.addEventListener("click", () => {
          window.location.href = "/vaciar";
        });

        j.addEventListener("click", () => {
          window.location.href = "/admin";
        });
    </script>
</body>

</html>