<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe Enviado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='engine_principal.css')}}">
</head>

<body>
    <h1>Cafe Enviado</h1>
    <p>Gracias por hacer tu pedido: {{ nombre }}</p>
    <p>Y el {{ cafe_seleccionado }} es muy pedido!</p>
    <p>Tu Bebida llegará pronto!</p>
    <p>Fecha: {{ fecha }}</p>
    <button class="btn_regresar">Regresar</button>

    <script>
        let i = document.querySelector('.btn_regresar')
        i.addEventListener('click', () => {
            window.location.href = '/user'
        });
    </script>
</body>

</html>