<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe Enviado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='engine_principal.css')}}">
</head>

<body>
    <h1>Cafe Enviado</h1>
    <p>Gracias por hacer tu pedido: {{ nombre }}</p>
    <p>Y el {{ cafe_seleccionado }} es muy pedido!</p>
    <p>Tu Bebida llegará pronto!</p>
    <p>Porfavor espere en el sitio hasta que llegue su pedido</p>
    <p>Fecha: {{ fecha }}</p>
    <p>Si quieres puedes jugar a el minijuego mientras esperas!</p>
    <h1 class="item">☕</h1>
    <h3 id="h3_puntuacion">0</h3>
    <button class="btn_regresar">Regresar</button>
    <script>
        let i = document.querySelector('.btn_regresar');
        let puntuacion = document.querySelector('#h3_puntuacion');
        let cafe_item = document.querySelector('.item');
        let score = 0;
        i.addEventListener('click', () => {
            window.location.href = '/user'
        });
        cafe_item.addEventListener('click', () => {
            score += 1;
            puntuacion.textContent = score;
        });
    </script>
</body>

</html>