<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <meta author="Santiago Cussit" content="Programador junior full stack">
    <title>Cafeteria de maxi y caro - Santiago cussit</title>
</head>

<body>
    <div class="app">
        <div class="left_ div">
            <h1>Bienvenido a la <br> cafeteria de <br> maxi y caro</h1>
        </div>
        <div class="right_ div">
            <h1 class="coffe_1">☕</h1>
        </div>
    </div>
    <div class="button_div">
        <button id="btn_comenzar">Comenzar</button>
    </div>

    <script src="{{ url_for('static', filename='scripts/script.js')}}"></script>
</body>

</html>